.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}


h1 {
text-align: center;
margin-bottom: 20px;
margin-top: 85px;
}


/* GRID 3x3 */
.grid {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 20px;
}


@media (max-width: 900px) {
.grid {
grid-template-columns: repeat(2, 1fr);
}
}


@media (max-width: 600px) {
.grid {
grid-template-columns: 1fr;
}
}


/* CARD */
.card {
background: white;
border-radius: 12px;
padding: 15px;
box-shadow: 0 6px 18px rgba(0,0,0,0.08);
transition: 0.2s ease;
}


.card:hover {
transform: translateY(-6px);
box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}


.card img {
width: 100%;
height: 170px;
object-fit: cover;
border-radius: 10px;
margin-bottom: 10px;
}


.card h3 {
margin: 0;
font-size: 18px;
text-align: center;
}